<div class="px-5 py-3 w-100">
    <div class="text-center mb-4">
      <img src="/assets/images/picaporte_logo.png" alt="" style="height: 100px;">
    </div>
    <div *ngIf="isOnListView" class="col-12 mb-3 d-flex justify-content-end">
        <div class="d-flex align-items-center fs-5 fw-bold cursor-pointer color-secondary" (click)="onClick_addNew()">
            <div class="me-2">
                Adicionar notícia
            </div>
            <i class="fa-solid fa-circle-plus"></i>
        </div>
    </div>
    <div *ngIf="isOnListView; else isOnDetailView" class="col-12">
        <div class="row">
            <div class="col-4">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Notícias</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="isDataFetched; else elseBlock">
                            <tr *ngFor="let _news of news; index as i" class="table-row cursor-pointer"
                                (click)="onClick_edit(i)">
                                <td class="p-4 rounded bg-white">
                                    <div>
                                        <span class="col mb-1">{{_news.title}}</span>
                                        <div class="text-secondary fs-7">{{_news.editedBy.firstName +  _news.editedBy.lastName != "" ? _news.editedBy.firstName + " " + _news.editedBy.lastName : '-'}}</div>
                                        <div class="text-secondary fs-7"><app-date-format [date]="_news.editedOn"></app-date-format></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #elseBlock>
                            <tbody>
                                <tr *ngFor="let number of [0,1,2,3,4]" class="placeholder-glow table-row">
                                    <td scope="row"><span class="placeholder col-4"></span></td>
                                    <td><span class="placeholder col-2"></span></td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
                <div *ngIf="news.length == 0 && isDataFetched" class="w-100 p-4 text-center">
                    Não foram encontradas notícias
                </div>
            </div>
            <div class="col-4">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Notícias para aprovação</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="isDataFetched; else elseApprovalBlock">
                            <tr *ngFor="let _news of approvalNews; index as i" class="table-row" (click)="onClick_editApproval(i)">
                                <td class="p-4 rounded bg-white">
                                    <div class="mb-3">
                                        <span class="col mb-1">{{_news.title}}</span>
                                        <div class="text-secondary fs-7">{{_news.editedBy.firstName +  _news.editedBy.lastName != "" ? _news.editedBy.firstName + " " + _news.editedBy.lastName : '-'}}</div>
                                        <div class="text-secondary fs-7"><app-date-format [date]="_news.editedOn"></app-date-format></div>
                                    </div>
                                    <div *ngIf="_news.editedBy.email != userEmail" class="d-flex gap-3">
                                        <button type="button" class="btn btn-success" (click)="onClick_approveNews(true, i)">Aprovar</button>
                                        <button type="button" class="btn btn-danger" (click)="onClick_approveNews(false, i)">Cancelar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #elseApprovalBlock>
                            <tbody>
                                <tr *ngFor="let number of [0,1,2,3,4]" class="placeholder-glow table-row">
                                    <td scope="row"><span class="placeholder col-4"></span></td>
                                    <td><span class="placeholder col-2"></span></td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
                <div *ngIf="approvalNews.length == 0 && isDataFetched" class="w-100 p-4 text-center">
                    Não foram encontradas notícias para aprovação
                </div>
            </div>
            <div class="col-4">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Notícias online</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="isDataFetched; else elseLoadingBlock">
                            <tr *ngFor="let _news of onlineNews; index as i" class="table-row cursor-pointer" (click)="onClick_editOnline(i)">
                                <td class="p-4 rounded bg-white">
                                    <div>
                                        <span class="col mb-1">{{_news.title}}</span>
                                        <div class="text-secondary fs-7">{{_news.editedBy.firstName +  _news.editedBy.lastName != "" ? _news.editedBy.firstName + " " + _news.editedBy.lastName : '-'}}</div>
                                        <div class="text-secondary fs-7"><app-date-format [date]="_news.editedOn"></app-date-format></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #elseLoadingBlock>
                            <tbody>
                                <div class="position-relative news-data-loader bg-white rounded">
                                    <app-spinner [showBackground]="false"></app-spinner>
                                </div>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
                <div *ngIf="onlineNews.length == 0 && isDataFetched" class="w-100 p-4 text-center">
                    Não foram encontradas notícias online
                </div>
            </div>
        </div>
    </div>
    <ng-template #isOnDetailView>
        <div class="bg-white p-4 rounded h-100">
            <form>
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex flex-column align-items-center fs-5 fw-bold cursor-pointer color-secondary">
                            <div *ngIf="selectedNews.image.filename != ''" class="mb-3 d-flex justify-content-center">
                                <img *ngIf="selectedNews.image.content == null; else newSelectedImage" [src]="url + selectedNews.image.filename + '/true'" class="news-image rounded modal-property-image">
                                <ng-template #newSelectedImage>
                                  <img [src]="selectedNews.image.content" alt="..." class="news-image rounded modal-property-image">
                                </ng-template>
                              </div>
                              <div class="w-100 mb-3">
                                <label for="firstName" class="form-label fw-bold required">Ficheiro</label>
                                <input type="file" class="form-control" id="file" name="file" 
                                [ngClass]="{'invalid-input' : !newsValidationObject.isFileValid.isValid}"
                                (change)="onChange_file($event)"
                                (focus)="onFocus_file()">
                                <div *ngIf="!newsValidationObject.isFileValid.isValid" class="invalid-message">{{newsValidationObject.isFileValid.validationMessage}}</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="reference" class="form-label fw-bold required">Título</label>
                        <input type="text" class="form-control" id="reference" name="reference"
                        [ngClass]="{'invalid-input' : !newsValidationObject.isTitleValid.isValid}"
                        [(ngModel)]="selectedNews.title"
                        (focus)="onFocus_title()">
                        <div *ngIf="!newsValidationObject.isTitleValid.isValid" class="invalid-message">{{newsValidationObject.isTitleValid.validationMessage}}</div>
                    </div>
                    <div class="col-auto mb-3">
                        <label class="form-label fw-bold w-100">Online</label>
                        <div class="btn-group btn-group-lg w-100" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-lg "
                                [ngClass]="selectedNews.isOnline ? 'btn-success' : 'btn-outline-success' "
                                (click)="onClick_selectedNewsOnline(true)">Sim</button>
                            <button type="button" class="btn btn-lg "
                                [ngClass]="selectedNews.isOnline  ? 'btn-outline-danger' : 'btn-danger' "
                                (click)="onClick_selectedNewsOnline(false)">Não</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="reference" class="form-label fw-bold required">Conteúdo</label>
                    <ckeditor 
                    name="ckEitor-module"
                    [ngClass]="{'invalid-input' : !newsValidationObject.isContentValid.isValid}"
                    [(ngModel)]="selectedNews.content"
                    (focus)="onFocus_content()">
                    </ckeditor>
                    <div *ngIf="!newsValidationObject.isContentValid.isValid" class="invalid-message">{{newsValidationObject.isContentValid.validationMessage}}</div>
                </div>
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <i *ngIf="selectedNewsIndex != -1" class="fa-solid fa-trash fa-2x text-danger cursor-pointer"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
                    </div>
                    <div>
                        <button type="button" class="btn  me-2" data-bs-dismiss="modal"
                            (click)="onClick_close()">Cancelar</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="onClick_submit()">Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
</div>

<!-- Modal -->
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Remover notícia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="w-100 mb-3">
                    Tem a certeza que deseja remover esta notícia?
                </div>
                <div class="fw-bold">
                    {{selectedNews.title}}
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between w-100">
                    <button type="button" class="btn  me-2" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                        (click)="onClick_confirmDelete()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-message></app-message>