<form>
  <div class="row">
    <div class="col mb-3">
      <label for="firstName" class="form-label fw-bold w-100 required">Nome</label>
      <input *ngIf="isEditable; else firstNameRead" type="text" class="form-control" id="firstName" name="firstName" 
      [ngClass]="{'invalid-input' : !customerValidationObject.isNameValid.isValid}"
      [(ngModel)]="customer.firstName" 
      (change)="triggerEvent_updateCustomerDetails()"
      (focus)="onFocus_name()">
      <div *ngIf="!customerValidationObject.isNameValid.isValid" class="invalid-message">{{customerValidationObject.isNameValid.validationMessage}}</div>
      <ng-template #firstNameRead>
        <div *ngIf="customer.firstName != null; else firstNameNull">
          {{customer.firstName}}
        </div>
        <ng-template #firstNameNull>
          -
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mb-3">
      <label for="phoneNumber" class="form-label fw-bold w-100 required">Telemóvel</label>
      <input *ngIf="isEditable; else phoneNumberRead" type="text" class="form-control" id="phoneNumber" name="phoneNumber" 
      [ngClass]="{'invalid-input' : !customerValidationObject.isPhoneNumberValid.isValid}"
      [(ngModel)]="customer.phoneNumber" 
      (change)="triggerEvent_updateCustomerDetails()"
      (focus)="onFocus_phoneNumber()">
      <div *ngIf="!customerValidationObject.isPhoneNumberValid.isValid" class="invalid-message">{{customerValidationObject.isPhoneNumberValid.validationMessage}}</div>
      <ng-template #phoneNumberRead>
        <div *ngIf="customer.phoneNumber != null; else phoneNumberNull">
          {{customer.phoneNumber}}
        </div>
        <ng-template #phoneNumberNull>
          -
        </ng-template>
      </ng-template>
    </div>
    <div class="col-6 mb-3">
      <label for="email" class="form-label fw-bold w-100 required">Email</label>
      <input *ngIf="isEditable; else emailRead" type="text" class="form-control" id="email" name="email" 
      [ngClass]="{'invalid-input' : !customerValidationObject.isEmailValid.isValid}"
      [(ngModel)]="customer.email" 
      (change)="triggerEvent_updateCustomerDetails()"
      (focus)="onFocus_email()">
      <div *ngIf="!customerValidationObject.isEmailValid.isValid" class="invalid-message">{{customerValidationObject.isEmailValid.validationMessage}}</div>
      <ng-template #emailRead>
        <div *ngIf="customer.email != null; else emailNull">
          {{customer.email}}
        </div>
        <ng-template #emailNull>
          -
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mb-3">
      <label for="cc" class="form-label fw-bold w-100 required">CC</label>
      <input *ngIf="isEditable; else ccRead" type="text" class="form-control" id="cc" name="cc" 
      [ngClass]="{'invalid-input' : !customerValidationObject.isCcValid.isValid}"
      [(ngModel)]="customer.cc" 
      (change)="triggerEvent_updateCustomerDetails()"
      (focus)="onFocus_cc()">
      <div *ngIf="!customerValidationObject.isCcValid.isValid" class="invalid-message">{{customerValidationObject.isCcValid.validationMessage}}</div>
      <ng-template #ccRead>
        <div *ngIf="customer.cc != null; else ccNull">
          {{customer.cc}}
        </div>
        <ng-template #ccNull>
          -
        </ng-template>
      </ng-template>
    </div>
    <div class="col-6 mb-3">
      <label for="nif" class="form-label fw-bold w-100 required">NIF</label>
      <input *ngIf="isEditable; else nifRead" type="text" class="form-control" id="nif" name="nif" 
      [ngClass]="{'invalid-input' : !customerValidationObject.isNifValid.isValid}"
      [(ngModel)]="customer.nif" 
      (change)="triggerEvent_updateCustomerDetails()"
      (focus)="onFocus_nif()">
      <div *ngIf="!customerValidationObject.isNifValid.isValid" class="invalid-message">{{customerValidationObject.isNifValid.validationMessage}}</div>
      <ng-template #nifRead>
        <div *ngIf="customer.nif != null; else nifNull">
          {{customer.nif}}
        </div>
        <ng-template #nifNull>
          -
        </ng-template>
      </ng-template>
    </div>
  </div>
</form>