/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #603d20;
    --color-primary-light: rgb(96, 61, 32, 0.05);
    --color-secondary: #F6BC72;
    --color-body-background: #f3f3f3;
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.cursor-pointer {
    cursor: pointer;
}

/* BOOTSTRAP override */

.btn-picaporte-primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.btn-picaporte-secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.page-link {
    cursor: pointer;
}

.page-link:hover {
    color: var(--color-primary);
}

.fade:not(.show) {
    opacity: 1;
}

/* TABLE override */
.table {
    border-collapse: separate;
    border-spacing:0 20px;
}

.table-row td:first-child, .table .table-row:last-child td:first-child {
    border-radius: 10px 0px 0px 10px;
}

.table-row td:last-child, .table .table-row:last-child td:last-child {
    border-radius: 0px 10px 10px 0px;
}

.table-row td {
    background: white;
    border-bottom: none;
    padding: 20px 20px;
    vertical-align: inherit;
}

/* SUB MENUS */
.submenu-container {
    width: fit-content;
    min-width: 300px;
    height: 100%;
    background-color: white;
}

.submenu-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.submenu-grid-item {
    border-bottom: 1px solid var(--color-body-background);
    border-right: 3px solid white;
}

.submenu-grid-item.selected {
    color: var(--color-secondary);
    border-right: 3px solid var(--color-secondary);
}

/* CARD */
.preference-card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 20px 5px rgb(0 0 0 / 10%), -5px -5px 20px 5px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: 0.4s;
}

.preference-card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 5px rgba(0,0,0,10%), 
      -5px -5px 30px 5px rgba(0,0,0,10%);
}

.empty-card {
    height: 400px;
}

/* MODAL */
.modal-list {
    overflow-y: scroll;
    height: 400px;
}