/* You can add global styles to this file, and also import other style files */
.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.cursor-pointer {
    cursor: pointer;
}

/* BOOTSTRAP override */
:root {
    --color-primary: #603d20;
    --color-primary-light: rgb(96, 61, 32, 0.05);
    --color-secondary: #F6BC72;
    --color-body-background: #f3f3f3;
}

.row {
    --bs-gutter-x: 0;
}

.row>*{
    padding-right: 0px;
    padding-left: 0px;
}

.btn-picaporte-primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.btn-picaporte-secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.page-link {
    cursor: pointer;
}

.page-link:hover {
    color: var(--color-primary);
}



/* TABLE override */
.table {
    border-collapse: separate;
    border-spacing:0 20px;
}

.table-row td:first-child, .table .table-row:last-child td:first-child {
    border-radius: 10px 0px 0px 10px;
}

.table-row td:last-child, .table .table-row:last-child td:last-child {
    border-radius: 0px 10px 10px 0px;
}

.table-row td {
    background: white;
    border-bottom: none;
    padding: 20px 20px;
    vertical-align: inherit;
}