<div class="p-5 w-100">
    <div class="col-12 d-flex justify-content-between">
        <div class="fw-bold mb-3">To Dos</div>
        <div class="mb-3 d-flex justify-content-end">
            <div class="d-flex align-items-center fs-5 fw-bold cursor-pointer color-secondary" (click)="onClick_addNew()">
                <div class="me-2">
                    Adicionar ToDo
                </div>
                <i class="fa-solid fa-circle-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <div *ngIf="isDataFetched; else loadingToDos">
                    <div *ngFor="let item of toDoStructureList; index as i" class="w-100 p-3 rounded cursor-pointer mb-3" [ngClass]="selectedToDo.toDo.id == item.toDo.id ? 'to-do-selected': 'bg-white'" (click)="onClick_edit(i)">
                        <div class="fw-bold mb-1">{{item.toDo.title}}</div>
                        <div>
                            <label class="fs-7">Editado:</label>
                            <div class="text-secondary fs-7">{{item.toDo.editedBy.firstName +  item.toDo.editedBy.lastName != "" ? item.toDo.editedBy.firstName + " " + item.toDo.editedBy.lastName : '-'}}</div>
                            <div class="text-secondary fs-7">{{item.toDo.editedOn | date: 'EEEE, MMMM d, y'}}</div>
                        </div>
                    </div>
                    <div *ngIf="toDoStructureList.length == 0 && isDataFetched" class="w-100 p-4 text-center rounded bg-white">
                        Não foram encontrados To Dos
                    </div>
                </div>
                <ng-template #loadingToDos>
                    <div class="position-relative to-do-data-loader bg-white rounded">
                        <app-spinner [showBackground]="false"></app-spinner>
                    </div>
                </ng-template>
            </div>
            <div class="col-8">
                <div *ngIf="selectedToDoIndex != -1; else noSelectedtoDo" class="bg-white p-3 rounded">
                    <form>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="reference" class="form-label fw-bold required">Título</label>
                                <input *ngIf="isEditable" type="text" class="form-control" id="reference" name="reference" 
                                [ngClass]="{'invalid-input' : selectedToDo.toDo.title == '' || selectedToDo.toDo.title == null}"
                                [(ngModel)]="selectedToDo.toDo.title">
                                <div *ngIf="selectedToDo.toDo.title == '' || selectedToDo.toDo.title == null" class="invalid-message">Campo obrigatório</div>
                                <div *ngIf="!isEditable">{{selectedToDo.toDo.title}}</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="description" class="form-label fw-bold">Descrição</label>
                                <textarea *ngIf="isEditable"  rows="3" class="form-control" id="description" name="description" [(ngModel)]="selectedToDo.toDo.description"></textarea>
                                <div *ngIf="!isEditable">{{selectedToDo.toDo.description}}</div>
                            </div>
                            <div *ngIf="!isEditable" class="col-12 mb-3">
                                <div class="d-flex align-items-center justify-content-between fs-6 fw-bold color-secondary">
                                    <div *ngIf="!isEditable">
                                        <button type="submit" class="btn btn-picaporte-primary" (click)="onClick_editable()">Editar</button>
                                    </div>
                                    <div class="d-flex align-items-center cursor-pointer gap-2" (click)="onClick_addNewItem()">
                                        <div>
                                            Adicionar item
                                        </div>
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="break-line mb-3"></div>
                        <div *ngIf="!isEditable" class="row mb-3">
                            <div *ngIf="!isItemEditable; else editItems" class="col-12">
                                <div *ngFor="let item of selectedToDo.toDoItems; index as i" class="w-100 form-row">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="col-auto" (click)="onChange_checkbox(i)">
                                            <i *ngIf="!item.isChecked" class="fa-regular fa-circle fa-2x text-muted"></i>
                                            <i *ngIf="item.isChecked" class="fa-solid fa-circle-check fa-2x text-success"></i>
                                        </div>
                                        <div class="col mb-1 w-100">{{item.label}}</div>
                                        <i class="col-auto fa-solid fa-pen-to-square text-success cursor-pointer" (click)="onClick_editItem(i)"></i>
                                        <i class="col-auto fa-solid fa-trash text-danger cursor-pointer" (click)="onClick_deleteItem(i)"></i>
                                    </div>
                                    <div class="break-line-small my-3"></div>
                                </div>
                            </div>
                            <ng-template #editItems>
                                <div class="col-12 mb-3">
                                    <div class="w-100 rounded bg-white cursor-pointer">
                                        <label for="description" class="form-label fw-bold required">Introduza o To Do:</label>
                                        <textarea rows="3" class="form-control" id="description" name="description" 
                                        [ngClass]="{'invalid-input' : selectedToDoItem.label == '' || selectedToDoItem.label == null}"
                                        [(ngModel)]="selectedToDoItem.label">
                                        </textarea>
                                        <div *ngIf="selectedToDoItem.label == '' || selectedToDoItem.label == null" class="invalid-message">Campo obrigatório</div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button type="submit" class="btn btn-danger" (click)="onClick_closeItem()">Cancelar item</button>
                                    <button type="submit" class="btn btn-success" (click)="onClick_saveItem()">Guardar item</button>
                                </div>
                            </ng-template>
                        </div>
                        <div *ngIf="isEditable" class="d-flex justify-content-between w-100">
                            <div>
                              <i *ngIf="selectedToDoIndex != -1" class="fa-solid fa-trash fa-2x text-danger cursor-pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
                            </div>
                            <div>
                              <button type="button" class="btn  me-2" (click)="onClick_close()">Cancelar</button>
                              <button type="submit" class="btn btn-success" (click)="onClick_submit()">Confirmar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <ng-template #noSelectedtoDo>
                    <div *ngIf="isDataFetched; else loadingToDos">
                        <div class="w-100 p-4 text-center rounded bg-white">
                            Seleccione um To Do
                        </div>
                    </div>
                    <ng-template #loadingToDos>
                        <div class="position-relative to-do-data-loader bg-white rounded">
                            <app-spinner [showBackground]="false"></app-spinner>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Remover ToDo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="w-100 mb-3">
                    Tem a certeza que deseja remover este ToDo?
                </div>
                <div class="fw-bold">
                    {{selectedToDo.toDo.title}}
                </div>
            </div>
            <div class="modal-footer">
            <div class="d-flex justify-content-between w-100">
                <button type="button" class="btn  me-2" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="onClick_confirmDelete()">Confirmar</button>
            </div>
            </div>
        </div>
    </div>
</div>
<app-message></app-message>