<div class="row">
  <div *ngIf="isEditable" class="col-12 mb-3 d-flex justify-content-end">
    <div class="d-flex align-items-center fs-5 fw-bold cursor-pointer color-secondary" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop" (click)="onClick_addNew()">
      <div class="me-2">
        Adicionar preferência
      </div>
      <i class="fa-solid fa-circle-plus"></i>
    </div>
  </div>
</div>
<div *ngIf="preferences.length == 0"
  class="empty-card bg-white text-muted p-4 rounded d-flex flex-column justify-content-center align-items-center">
  <i class="fa-solid fa-sliders fa-4x mb-3"></i>
  <span>Não existem preferências para este cliente</span>
</div>
<div class="row">
  <div *ngFor="let preference of preferences; index as i" class="col-6">
    <div *ngIf="isEditable" [ngClass]="{'cursor-pointer': isEditable}" class="mb-3 bg-white rounded p-4 h-100"
      data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onClick_edit(i)">
      <div class="row">
        <div class="mb-2 col-6">
          <label class="fw-bold">Preço</label>
          <div class="d-flex align-items-center gap-3">
            <div *ngIf="preference.preference.minPrice != null && preference.preference.minPrice != 0; else minPriceNull">{{preference.preference.minPrice}}
            </div>
            <ng-template #minPriceNull>
              <div>-</div>
            </ng-template>
            <div> / </div>
            <div *ngIf="preference.preference.maxPrice!= null && preference.preference.maxPrice!= 0; else maxPriceNull">{{preference.preference.maxPrice}}</div>
            <ng-template #maxPriceNull>
              <div>-</div>
            </ng-template>
          </div>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Casas de banho</label>
          <div *ngIf="preference.preference.numBathrooms!= null && preference.preference.numBathrooms!= 0; else numBathroomsNull">
            {{preference.preference.numBathrooms}}</div>
          <ng-template #numBathroomsNull>
            <div>-</div>
          </ng-template>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Ano de construção</label>
          <div *ngIf="preference.preference.constructionYear != null && preference.preference.constructionYear != 0; else constructionYearNull">
            {{preference.preference.constructionYear}}</div>
          <ng-template #constructionYearNull>
            <div>-</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="break-line my-3"></div>
      </div>
      <div class="row">
        <div class="mb-2 col-6">
          <label class="fw-bold">Estado de venda</label>
          <div *ngIf="preference.preference.propertyStatus?.label != null && preference.preference.propertyStatus?.label != ''; else propertyStatusNull">
            {{preference.preference.propertyStatus?.label}}</div>
          <ng-template #propertyStatusNull>
            <div>-</div>
          </ng-template>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Estado do imóvel</label>
          <div *ngIf="preference.preference.propertyConditionStatus?.label != null && preference.preference.propertyConditionStatus?.label != ''; else propertyConditionStatusNull">
            {{preference.preference.propertyConditionStatus?.label}}</div>
          <ng-template #propertyConditionStatusNull>
            <div>-</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="mb-2 col-6">
          <label class="fw-bold">Eficiência energética</label>
          <div *ngIf="preference.preference.energyCertificate?.label != null && preference.preference.energyCertificate?.label != ''; else energyCertificateNull">
            {{preference.preference.energyCertificate?.label}}</div>
          <ng-template #energyCertificateNull>
            <div>-</div>
          </ng-template>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Localização</label>
          <div *ngIf="preference.preference.propertyLocationType?.label != null && preference.preference.propertyLocationType?.label != ''; else propertyLocationTypeNull">
            {{preference.preference.propertyLocationType?.label}}</div>
          <ng-template #propertyLocationTypeNull>
            <div>-</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="mb-2 col-6">
          <label class="fw-bold">Tipologias</label>
          <div *ngIf="preference.propertyTypologies.length != 0; else propertyTypologyNull" class="row">
            <div *ngFor="let propertyTypology of preference.propertyTypologies" class="col-auto g-3">
              {{propertyTypology.label}}
            </div>
          </div>
          <ng-template #propertyTypologyNull>
            <div>-</div>
          </ng-template>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Tipos</label>
          <div *ngIf="preference.propertyTypes.length != 0; else propertyTypesNull" class="row">
            <div *ngFor="let propertyType of preference.propertyTypes" class="col-auto g-3">
              {{propertyType.label}}
            </div>
          </div>
          <ng-template #propertyTypesNull>
            <div>-</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="break-line my-3"></div>
      </div>
      <div>
        <label class="fw-bold">Características:</label>
        <div *ngIf="preference.ameneties.length > 0; else amenetiesNull" class="row">
          <div *ngFor="let amenetieType of preference.ameneties" class="col-auto d-flex align-items-center gap-3">
            <div>{{amenetieType.label}}</div>
            <div [className]="amenetieType.icon + ' fa-lg color-primary'"></div>
          </div>
        </div>
        <ng-template #amenetiesNull>
          <div>-</div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="!isEditable" class="mb-3 bg-white rounded p-4 h-100">
      <div class="row">
        <div class="mb-2 col-6">
          <label class="fw-bold">Preço</label>
          <div class="d-flex align-items-center gap-3">
            <div *ngIf="preference.preference.minPrice != null && preference.preference.minPrice != 0; else minPriceNull">{{preference.preference.minPrice}}
            </div>
            <ng-template #minPriceNull>
              <div>-</div>
            </ng-template>
            <div> / </div>
            <div *ngIf="preference.preference.maxPrice!= null && preference.preference.maxPrice!= 0; else maxPriceNull">{{preference.preference.maxPrice}}</div>
            <ng-template #maxPriceNull>
              <div>-</div>
            </ng-template>
          </div>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Casas de banho</label>
          <div *ngIf="preference.preference.numBathrooms!= null && preference.preference.numBathrooms!= 0; else numBathroomsNull">
            {{preference.preference.numBathrooms}}</div>
          <ng-template #numBathroomsNull>
            <div>-</div>
          </ng-template>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Ano de construção</label>
          <div *ngIf="preference.preference.constructionYear != null && preference.preference.constructionYear != 0; else constructionYearNull">
            {{preference.preference.constructionYear}}</div>
          <ng-template #constructionYearNull>
            <div>-</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="break-line my-3"></div>
      </div>
      <div class="row">
        <div class="mb-2 col-6">
          <label class="fw-bold">Estado de venda</label>
          <div *ngIf="preference.preference.propertyStatus?.label != null && preference.preference.propertyStatus?.label != ''; else propertyStatusNull">
            {{preference.preference.propertyStatus?.label}}</div>
          <ng-template #propertyStatusNull>
            <div>-</div>
          </ng-template>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Estado do imóvel</label>
          <div *ngIf="preference.preference.propertyConditionStatus?.label != null && preference.preference.propertyConditionStatus?.label != ''; else propertyConditionStatusNull">
            {{preference.preference.propertyConditionStatus?.label}}</div>
          <ng-template #propertyConditionStatusNull>
            <div>-</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="mb-2 col-6">
          <label class="fw-bold">Eficiência energética</label>
          <div *ngIf="preference.preference.energyCertificate?.label != null && preference.preference.energyCertificate?.label != ''; else energyCertificateNull">
            {{preference.preference.energyCertificate?.label}}</div>
          <ng-template #energyCertificateNull>
            <div>-</div>
          </ng-template>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Localização</label>
          <div *ngIf="preference.preference.propertyLocationType?.label != null && preference.preference.propertyLocationType?.label != ''; else propertyLocationTypeNull">
            {{preference.preference.propertyLocationType?.label}}</div>
          <ng-template #propertyLocationTypeNull>
            <div>-</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="mb-2 col-6">
          <label class="fw-bold">Tipologias</label>
          <div *ngIf="preference.propertyTypologies.length != 0; else propertyTypologyNull" class="row">
            <div *ngFor="let propertyTypology of preference.propertyTypologies" class="col-auto g-3">
              {{propertyTypology.label}}
            </div>
          </div>
          <ng-template #propertyTypologyNull>
            <div>-</div>
          </ng-template>
        </div>
        <div class="mb-2 col-6">
          <label class="fw-bold">Tipos</label>
          <div *ngIf="preference.propertyTypes.length != 0; else propertyTypesNull" class="row">
            <div *ngFor="let propertyType of preference.propertyTypes" class="col-auto g-3">
              {{propertyType.label}}
            </div>
          </div>
          <ng-template #propertyTypesNull>
            <div>-</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="break-line my-3"></div>
      </div>
      <div>
        <label class="fw-bold">Características:</label>
        <div *ngIf="preference.ameneties.length > 0; else amenetiesNull" class="row">
          <div *ngFor="let amenetieType of preference.ameneties" class="col-auto d-flex align-items-center gap-2">
            <div>{{amenetieType.label}}</div>
            <div [className]="amenetieType.icon + ' fa-lg color-primary'"></div>
          </div>
        </div>
        <ng-template #amenetiesNull>
          <div>-</div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Registar nova preferência</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="onClick_close()"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-12">
                <div class="row mb-3">
                  <div class="col-6">
                    <label for="firstName" class="form-label fw-bold">Preço</label>
                    <div class="input-group">
                      <input appCommaToDot type="text" class="form-control" id="firstName" name="firstName" placeholder="Mínimo"
                        [(ngModel)]="selectedPreferenceStructure.preference.minPrice">
                      <input appCommaToDot type="text" class="form-control" id="lastName" name="lastName" placeholder="Máximo"
                        [(ngModel)]="selectedPreferenceStructure.preference.maxPrice">
                    </div>
                  </div>
                  <div class="col-3">
                    <label for="constructionYear" class="form-label fw-bold">Ano de construção</label>
                    <input type="number" class="form-control" id="constructionYear" name="constructionYear"
                      [(ngModel)]="selectedPreferenceStructure.preference.constructionYear">
                  </div>
                  <div class="col-3">
                    <label for="wc" class="form-label fw-bold">Nº de casa de banho</label>
                    <input type="number" class="form-control" id="wc" name="wc"
                      [(ngModel)]="selectedPreferenceStructure.preference.numBathrooms">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <div class="fw-bold mb-1">Área Útil</div>
                        <div class="input-group mb-3">
                          <input appCommaToDot type="text" class="form-control" placeholder="Mínimo ㎡" aria-label="Mínimo"
                            [(ngModel)]="selectedPreferenceStructure.preference.minLivingArea">
                          <input appCommaToDot type="text" class="form-control" placeholder="Máximo ㎡" aria-label="Máximo"
                            [(ngModel)]="selectedPreferenceStructure.preference.maxLivingArea">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="fw-bold mb-1">Área do Terreno</div>
                        <div class="input-group">
                          <input appCommaToDot type="text" class="form-control" placeholder="Mínimo ㎡" aria-label="Mínimo"
                            [(ngModel)]="selectedPreferenceStructure.preference.minTotalArea">
                          <input appCommaToDot type="text" class="form-control" placeholder="Máximo ㎡" aria-label="Máximo"
                            [(ngModel)]="selectedPreferenceStructure.preference.maxTotalArea">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="break-line my-4"></div>
                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="nif" class="form-label fw-bold">Estado de venda do imóvel</label>
                    <div class="dropdown">
                      <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyConditionStatus"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{selectedPropertyStatusLabel}}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="propertyType">
                        <li *ngFor="let propertyStatus of staticPropertyStatuses">
                          <a class="dropdown-item"
                            (click)="onClick_selectPropertyStatus(propertyStatus, propertyStatus.label)">{{propertyStatus.label}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <label for="nif" class="form-label fw-bold">Estado do imóvel</label>
                    <div class="dropdown">
                      <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyType"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{selectedPropertyConditionStatusLabel}}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="propertyType">
                        <li *ngFor="let propertyConditionStatus of staticPropertyConditionStatuses">
                          <a class="dropdown-item"
                            (click)="onClick_selectPropertyConditionStatus(propertyConditionStatus, propertyConditionStatus.label)">{{propertyConditionStatus.label}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="nif" class="form-label fw-bold">Eficiência energética do imóvel</label>
                    <div class="dropdown">
                      <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyType"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{selectedEnergyCertificateLabel}}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="propertyType">
                        <li *ngFor="let energyCertificate of staticEnergyCertificates">
                          <a class="dropdown-item"
                            (click)="onClick_selectEnergyCertificate(energyCertificate, energyCertificate.label)">{{energyCertificate.label}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <label for="location" class="form-label fw-bold">Localização</label>
                    <div class="dropdown">
                      <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="location"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{selectedPropertyLocationTypeLabel}}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="location">
                        <li *ngFor="let location of staticPropertyLocationTypes">
                          <a class="dropdown-item"
                            (click)="onClick_selectPropertyLocationType(location, location.label)">{{location.label}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <label for="nif" class="form-label fw-bold">Tipologia do imóvel</label>
                    <div class="dropdown">
                      <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyTypology"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{selectedPropertyTypologyLabel}}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="propertyTypology">
                        <li class="d-flex align-items-center justify-content-between gap-3 fs-7 p-3 fw-bold">
                          <div (click)="onClick_selectAllTypologies($event)" class="cursor-pointer">Seleccionar todos</div>
                          <div (click)="onClick_clearTypologies($event)" class="cursor-pointer">Limpar</div>
                        </li>
                        <li *ngFor="let typology of staticPropertyTypologies; index as i"
                          (click)="onClick_selectPropertyTypology(i, $event)"
                          class="cursor-pointer d-flex align-items-center justify-content-between gap-3 px-3 py-2">
                          <div>{{typology.propertyTypology.label}}</div>
                          <input class="form-check-input" type="checkbox" [name]="typology.propertyTypology.label" [(ngModel)]="typology.isSelected">
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <label for="cc" class="form-label fw-bold">Tipo do imóvel</label>
                    <div class="dropdown">
                      <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyType"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{selectedPropertyTypeLabel}}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="propertyType">
                        <li class="d-flex align-items-center justify-content-between fs-7 p-3 fw-bold">
                          <div (click)="onClick_selectAllTypes($event)" class="cursor-pointer">Seleccionar todos</div>
                          <div (click)="onClick_clearTypes($event)" class="cursor-pointer">Limpar</div>
                        </li>
                        <li *ngFor="let type of staticPropertyTypes; index as i"
                          (click)="onClick_selectPropertyType(i, $event)"
                          class="cursor-pointer d-flex align-items-center justify-content-between gap-3 p-3">
                          <div>{{type.propertyType.label}}</div>
                          <input class="form-check-input" type="checkbox" [name]="type.propertyType.label" [(ngModel)]="type.isSelected">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="break-line my-4"></div>
              </div>
              <div class="col-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Características
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse p-3 collapse" data-bs-parent="#accordionFlushExample">
                      <div class="row">
                        <div class="col-12 bg-white d-flex align-items-center justify-content-between fs-7 py-2 color-primary fw-bold">
                          <div (click)="onClick_selectAllAmeneties($event)" class="cursor-pointer">Seleccionar todos</div>
                          <div (click)="onClick_clearAmenneties($event)" class="cursor-pointer">Limpar</div>
                        </div>
                        <div *ngFor="let amenetieStructure of amenetieTypeStructureList; let i = index" class="col-3 fs-7 mb-2">
                          <div class="bg-white rounded py-2">
                            <div class="d-flex align-items-center gap-2">
                              <div>
                                <input class="form-check-input cursor-pointer" type="checkbox"
                                  [checked]="amenetieStructure.isSelected" id="amenetie.id" (change)="onChange_checkbox(i)">
                              </div>
                              <div [className]="amenetieStructure.amenetieType.icon + ' fa-lg color-primary'"></div>
                              <div>{{amenetieStructure.amenetieType.label}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-between w-100">
            <div>
              <i *ngIf="selectedRowNumber != -1" class="fa-solid fa-trash fa-2x text-danger cursor-pointer"
                data-bs-dismiss="modal" (click)="onClick_remove(selectedRowNumber)"></i>
            </div>
            <div>
              <button type="button" class="btn  me-2" data-bs-dismiss="modal"
                (click)="onClick_close()">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                (click)="onClick_submit()">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-message></app-message>