<form>
  <div class="row">
    <div class="col mb-3">
      <label for="street" class="form-label fw-bold w-100 required">Rua</label>
      <input *ngIf="isEditable; else streetRead" type="text" class="form-control" id="street" name="street" 
      [ngClass]="{'invalid-input' : !addressValidationObject.isStreetValid.isValid}"
      [(ngModel)]="address.street" 
      (change)="triggerEvent_updateAddress()"
      (focus)="onFocus_street()">
      <div *ngIf="!addressValidationObject.isStreetValid.isValid" class="invalid-message">{{addressValidationObject.isStreetValid.validationMessage}}</div>
      <ng-template #streetRead>
        <div *ngIf="address.street != null && address.street != ''; else streetNull">
          {{address.street}}
        </div>
        <ng-template #streetNull>
          -
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div *ngIf="isCustomer" class="col-6 mb-3">
      <label for="zipCode" class="form-label fw-bold w-100">Código postal</label>
      <input *ngIf="isEditable; else zipCodeRead" type="text" class="form-control" id="zipCode" name="zipCode" [(ngModel)]="address.zipCode" (change)="triggerEvent_updateAddress()">
      <ng-template #zipCodeRead>
        <div *ngIf="address.zipCode != null && address.zipCode != ''; else zipCodeNull">
          {{address.zipCode}}
        </div>
        <ng-template #zipCodeNull>
          -
        </ng-template>
      </ng-template>
    </div>
    <div class="col-6 mb-3">
      <label for="parish" class="form-label fw-bold w-100 required">Freguesia</label>
      <input *ngIf="isEditable; else parishRead" type="text" class="form-control" id="parish" name="parish" 
      [ngClass]="{'invalid-input' : !addressValidationObject.isParishValid.isValid}"
      [(ngModel)]="address.parish" 
      (change)="triggerEvent_updateAddress()"
      (focus)="onFocus_parish()">
      <div *ngIf="!addressValidationObject.isParishValid.isValid" class="invalid-message">{{addressValidationObject.isParishValid.validationMessage}}</div>
      <ng-template #parishRead>
        <div *ngIf="address.parish != null && address.parish != ''; else parishNull">
          {{address.parish}}
        </div>
        <ng-template #parishNull>
          -
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-6">
      <label for="city" class="form-label fw-bold w-100 required">Cidade</label>
      <input *ngIf="isEditable; else cityRead" type="text" class="form-control" id="city" name="city" 
      [ngClass]="{'invalid-input' : !addressValidationObject.isCityValid.isValid}"
      [(ngModel)]="address.city" 
      (change)="triggerEvent_updateAddress()"
      (focus)="onFocus_city()">
      <div *ngIf="!addressValidationObject.isCityValid.isValid" class="invalid-message">{{addressValidationObject.isCityValid.validationMessage}}</div>
      <ng-template #cityRead>
        <div *ngIf="address.city != null && address.city != ''; else cityNull">
          {{address.city}}
        </div>
        <ng-template #cityNull>
          -
        </ng-template>
      </ng-template>
    </div>
    <div class="col-6 mb-3">
      <label for="propertyStatus" class="form-label fw-bold required">Ilha</label>
      <div *ngIf="isEditable; else islandRead" class="dropdown">
        <button class="w-100 btn btn-warning dropdown-toggle" type="button" id="propertyStatus"
          data-bs-toggle="dropdown" aria-expanded="false">
          <a *ngIf="address.island?.label != null && address.island?.label != ''; else propertyStatusNullEdit">{{address.island.label}}</a>
          <ng-template #propertyStatusNullEdit>
            <a>Nenhuma opção seleccionada</a>
          </ng-template>
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyStatus">
          <li *ngFor="let island of islands" class="cursor-pointer">
            <a class="dropdown-item" (click)="onClick_selectIsland(island)">{{island.label}}</a>
          </li>
        </ul>
        <div *ngIf="!addressValidationObject.isIslandValid.isValid" class="invalid-message">{{addressValidationObject.isIslandValid.validationMessage}}</div>
      </div>
      <ng-template #islandRead>
        <div *ngIf="address.islandId != null && address.islandId >= 0; else islandNull">
          {{address.island.label}}
        </div>
        <ng-template #islandNull>
          <div>
            -
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div *ngIf="!isCustomer" class="row">
    <div class="col mb-3">
      <label for="location" class="form-label fw-bold w-100">Localização</label>
      <input *ngIf="isEditable; else locationRead" type="text" class="form-control" id="location" name="location" 
      [(ngModel)]="address.location" 
      (change)="triggerEvent_updateAddress()">
      <ng-template #locationRead>
        <div *ngIf="address.location != null && address.location != ''; else locationNull">
          {{address.location}}
        </div>
        <ng-template #locationNull>
          -
        </ng-template>
      </ng-template>
    </div>
  </div> 
  <div *ngIf="!isCustomer" class="row">
    <div class="col-12">
      <app-google-map [latitude]="address.latitude" [longitude]="address.longitude" (latitudeEvent)="eventHandler_latitude($event)" (logitudeEvent)="eventHandler_longitude($event)"></app-google-map>
    </div>
  </div>
</form>