<div class="p-5 row">
    <div class="col">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquise por um cliente"  aria-describedby="button-addon2" [(ngModel)]="searchAndFilterStructure.searchText">
            <button class="btn btn-picaporte-secondary" type="button" id="button-addon2" (click)="get_customerDashboardStructure()">Pesquisar</button>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-end mb-3">
        <button routerLink="/Cliente/0" class="btn btn-picaporte-secondary">Novo cliente</button>
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Imóveis registados</th>
                <th scope="col">Preferências registadas</th>
                <th scope="col">Atualizado em</th>
                <th scope="col">Atualizado por</th>
              </tr>
            </thead>
            <tbody *ngIf="isDataFetched; else elseBlock">
                <tr *ngFor="let customer of customerDashboardStructureArray" class="table-row">
                    <td scope="row"><span [routerLink]="['/Cliente/', customer.id]" class="col cursor-pointer color-primary fw-bold">{{customer.customerName}}</span></td>
                    <td><span class="col">{{customer.countOfProperties}}</span></td>
                    <td><span class="col">{{customer.countOfPreferences}}</span></td>
                    <td><span class="col">{{customer.lastModifiedOn}}</span></td>
                    <td><span class="col">{{customer.lastModifiedBy}}</span></td>
                </tr>
            </tbody>
            <ng-template #elseBlock>
                <tbody>
                    <tr *ngFor="let number of [0,1,2,3,4]" class="placeholder-glow table-row">
                        <td scope="row"><span class="placeholder col-4"></span></td>
                        <td><span class="placeholder col-2"></span></td>
                        <td><span class="placeholder col-2"></span></td>
                        <td><span class="placeholder col-2"></span></td>
                        <td><span class="placeholder col-2"></span></td>
                    </tr>
                </tbody>
            </ng-template>
          </table>
    </div>
    <div *ngIf="customerDashboardStructureArray.length == 0 && isDataFetched" class="w-100 p-4 text-center rounded bg-white">
        Não foram encontrados clientes
    </div>
    <div *ngIf="isDataFetched">
        <nav>
            <ul class="pagination justify-content-end">
              <li *ngIf="hasPrevious" class="page-item" (click)="previous()">
                <a class="page-link color-primary">Anterior</a>
              </li>
              <li *ngIf="hasNext" class="page-item" (click)="next()">
                <a class="page-link color-primary">Seguinte</a>
              </li>
            </ul>
          </nav>
    </div>
</div>