<div class="px-5 py-3 w-100">
  <div class="text-center mb-4">
    <img src="/assets/images/picaporte_logo.png" alt="" style="height: 100px;">
  </div>
  <div class="col-12 mb-3">
    <div *ngIf="isKpiDataFetched else kpiElseBlock" class="row">
      <div class="col">
        <app-dashboard-kpi [dashboardKpiStructure]="dashboardKpis[0]"
          [isSelected]="customerSearchAndFilterStructure.customersWithUser == false" [isPlaceholder]="false"
          (dashboardKpiClicked)="eventHandler_dashboardKpiClicked(0)">
        </app-dashboard-kpi>
      </div>
      <div class="col">
        <app-dashboard-kpi [dashboardKpiStructure]="dashboardKpis[1]"
          [isSelected]="customerSearchAndFilterStructure.customersWithUser == true" [isPlaceholder]="false"
          (dashboardKpiClicked)="eventHandler_dashboardKpiClicked(1)">
        </app-dashboard-kpi>
      </div>
    </div>
    <ng-template #kpiElseBlock>
      <div class="d-flex">
        <div *ngFor="let number of [0,1]" class="col-6 p-2">
          <app-dashboard-kpi [dashboardKpiStructure]="placeholderDashboardKpi" [isSelected]="false"
            [isPlaceholder]="true" (dashboardKpiClicked)="eventHandler_dashboardKpiClicked($event)">
          </app-dashboard-kpi>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-12">
    <app-search-and-filter-bar [searchText]="customerSearchAndFilterStructure.searchAndFilterStructure.searchText"
      [buttonLabel]="'Novo cliente'" [showButton]="true" [placeholder]="'Pesquise por um cliente'" [hasFilters]="true"
      [hasSelectedFilter]="(customerSearchAndFilterStructure.amenetieTypeIds.length != 0 && customerSearchAndFilterStructure.amenetieTypeIds != null)"
      (searchTextChanged)="eventHandler_searchTextChanged($event)" (buttonClicked)="eventHandler_buttonClicked()">
      <div>
        <div class="row mb-3">
          <div class="dropdown col-4 px-3">
            <button class="btn btn-secondary dropdown-toggle w-100"
              [ngClass]="{'btn-success': customerSearchAndFilterStructure.amenetieTypeIds.length != 0 && customerSearchAndFilterStructure.amenetieTypeIds != null}"
              type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Caraterísticas
            </button>
            <ul class="dropdown-menu dropdown-menu-dark scrollable-dropdown-menu w-100">
              <li class="d-flex align-items-center justify-content-between fs-7 p-3 fw-bold">
                <div (click)="onClick_selectAllTypes($event)" class="cursor-pointer">Seleccionar todos</div>
                <div (click)="onClick_clearTypes($event)" class="cursor-pointer">Limpar</div>
              </li>
              <li *ngFor="let customerDashboardFilterAmenetieType of customerDashboardFilters.amenetieTypes; index as i"
                (click)="onClick_selectAmenetieTypeFilter(i, $event)"
                class="cursor-pointer d-flex align-items-center justify-content-between px-3 py-2">
                <div>{{customerDashboardFilterAmenetieType.label}}</div>
                <input class="form-check-input" type="checkbox" [(ngModel)]="customerDashboardFilterAmenetieType.isSelected">
              </li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-auto px-3">
            <button type="button" class="btn btn-light" (click)="onClick_clearFilter()">Limpar filtros</button>
          </div>
          <div class="col-auto px-3">
            <button type="button" class="btn btn-picaporte-secondary" (click)="onClick_confirmFilter()">Confirmar
              filtros</button>
          </div>
        </div>
      </div>
    </app-search-and-filter-bar>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Imóveis registados</th>
          <th scope="col">Preferências registadas</th>
          <th scope="col">Atualizado em</th>
          <th scope="col">Atualizado por</th>
        </tr>
      </thead>
      <tbody *ngIf="isDataFetched; else elseBlock">
        <tr *ngFor="let customer of customerDashboardStructureArray" class="table-row">
          <td scope="row"><span [routerLink]="['/Cliente/', customer.id]"
              class="col cursor-pointer color-primary fw-bold">{{customer.customerName}}</span></td>
          <td><span class="col">{{customer.countOfProperties}}</span></td>
          <td><span class="col">{{customer.countOfPreferences}}</span></td>
          <td><span class="col"><app-date-format [date]="customer.lastModifiedOn"></app-date-format></span></td>
          <td><span class="col">{{customer.lastModifiedBy}}</span></td>
        </tr>
      </tbody>
      <ng-template #elseBlock>
        <tbody>
          <tr *ngFor="let number of [0,1,2,3,4]" class="placeholder-glow table-row">
            <td scope="row"><span class="placeholder col-4"></span></td>
            <td><span class="placeholder col-2"></span></td>
            <td><span class="placeholder col-2"></span></td>
            <td><span class="placeholder col-2"></span></td>
            <td><span class="placeholder col-2"></span></td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
  <div *ngIf="customerDashboardStructureArray.length == 0 && isDataFetched" class="col-12">
    <div class="p-4 text-center rounded bg-white">
      Não foram encontrados clientes
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <button class="btn btn-picaporte-primary" data-bs-toggle="modal" data-bs-target="#exportModal" (click)="onClick_export()">Exportar emails</button>
    </div>
    <div *ngIf="isDataFetched" class="col">
      <nav>
        <ul class="pagination justify-content-end">
          <li *ngIf="hasPrevious" class="page-item" (click)="previous()">
            <a class="page-link color-primary">Anterior</a>
          </li>
          <li *ngIf="hasNext" class="page-item" (click)="next()">
            <a class="page-link color-primary">Seguinte</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="exportModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Lista de utilizadores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div id="exportDiv">
            {{exportStructure.export}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between w-100">
          <div>
            <button type="submit" class="btn btn-success" (click)="onClick_copy()">Copiar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-message></app-message>