<div class="px-5 py-3 w-100">
    <div class="text-center mb-4">
      <img src="/assets/images/picaporte_logo.png" alt="" style="height: 100px;">
    </div>
    <div class="row g-3 mb-3">
        <a href="https://picaporte.website/" target="https://picaporte.website/" class="col-4">
            <div class="d-flex align-items-center justify-content-center rounded fw-bold flex-column cursor-pointer bg-white w-100">
                <img class="link-image" src="assets\images\picaporte_logo.png" alt="Picaporte">
                <div>Website</div>
            </div>
        </a>
        <a href="https://manage.auth0.com/dashboard/eu/REDACTED_AUTH0_TENANT/users" target="https://manage.auth0.com/dashboard/eu/REDACTED_AUTH0_TENANT/users" class="col-4">
            <div class="d-flex align-items-center justify-content-center rounded fw-bold flex-column cursor-pointer bg-white w-100">
                <img class="link-image" src="assets\images\auth0logo.png" alt="Auth0">
                <div>Gestão de utilizadores e permissões</div>
            </div>
        </a>
        <a href="https://hpanel.hostinger.com/" target="https://hpanel.hostinger.com/" class="col-4">
            <div class="d-flex align-items-center justify-content-center rounded fw-bold flex-column cursor-pointer bg-white w-100">
                <img class="link-image" src="assets\images\hostingerlogo.png" alt="Hostinger">
                <div>Servidores e domínios</div>
            </div>
        </a>
    </div>
    <div class="row g-3">
        <a href="https://89.116.52.11/pgadmin4/browser/" target="https://89.116.52.11/pgadmin4/browser/" class="col-4">
            <div class="d-flex align-items-center justify-content-center rounded fw-bold flex-column cursor-pointer bg-white w-100">
                <img class="link-image" src="assets\images\postgreslogo.png" alt="Postgres">
                <div>Gestão de base de dados</div>
            </div>
        </a>
        <a href="https://89.116.52.11:10000/webmin/?xnavigation=1" target="https://89.116.52.11:10000/webmin/?xnavigation=1" class="col-4">
            <div class="d-flex align-items-center justify-content-center rounded fw-bold flex-column cursor-pointer bg-white w-100">
                <img class="link-image" src="assets\images\webminlogo.png" alt="Webmin">
                <div>Gestão do servidor</div>
            </div>
        </a>
        <a href="https://dashboard.tawk.to/#/dashboard" target="https://dashboard.tawk.to/#/dashboard" class="col-4">
            <div class="d-flex align-items-center justify-content-center rounded fw-bold flex-column cursor-pointer bg-white w-100">
                <img class="link-image" src="assets\images\tawkt.jpg" alt="Webmin">
                <div>Chat room</div>
            </div>
        </a>
    </div>
</div>