<ng-container *ngIf="!isLoading; else splashScreen">

  <ng-container *ngIf="auth.isAuthenticated$ | async; else loginView">
    <ng-container *ngIf="isAccessDeniedRoute(); else mainLayout">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #mainLayout>
      <div class="app-grid">
        <div class="sidenav">
          <app-sidenav></app-sidenav>
        </div>
        <div class="main overflow-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #loginView>
    <router-outlet></router-outlet>
  </ng-template>

</ng-container>

<ng-template #splashScreen>
  <div class="splash-screen">
    <img class="splash-image" src="assets/images/picaporte_logo.png">
  </div>
</ng-template>
