<div *ngIf="!isPlaceholder" class="bg-white p-3 rounded cursor-pointer h-100 dashboard-kpi" [ngClass]="{'dashboard-kpi-selected': isSelected}" (click)="onClick()">
    <div class="fw-bold mb-2">{{dashboardKpiStructure.label}}</div>
    <div>{{dashboardKpiStructure.count}}</div>
</div>
<div *ngIf="isPlaceholder" class="bg-white p-3 rounded cursor-pointer h-100 dashboard-kpi" [ngClass]="{'dashboard-kpi-selected': isSelected}" (click)="onClick()">
    <span class="placeholder mb-2 w-100"></span>
    <span class="placeholder w-100"></span>
</div>


