<div class="d-flex h-100">
    <div class="submenu-container h-100">
        <div class="submenu-grid">
            <div *ngFor="let submenu of propertySubmenus" class="submenu-grid-item cursor-pointer" (click)="onClick_selectSubMenu(submenu.enum_propertySubMenu)" [ngClass]="{'selected': submenu.enum_propertySubMenu == selectedPropertySubMenu}">
                <div class="px-4 py-4">
                    <div class="fs-5 fw-bold mb-2">
                        {{submenu.label}}
                    </div>
                    <div class="text-muted fs-6">
                        {{submenu.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 w-100">
        <div *ngIf="isOnDetailsSubMenu" class="row">
            <div class="col-6 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-property-detail [property]="propertyStructure.property" (event_updatePropertyDetails)="eventHandler_updatePropertyDetails($event)"></app-property-detail>
                </div>
            </div>
            <div class="col-6 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-address *ngIf="isDataFetched" [address]="propertyStructure.property.address" (event_updateAddress)="eventHandler_updatePropertyAddress($event)"></app-address>
                </div>
            </div>
        </div>
        <div *ngIf="isOnTasksSubMenu" class="row">
            
        </div>
        <div *ngIf="isOnCaracteristicsSubMenu" class="row">
            <div class="col-12 bg-white p-4 rounded h-100">
                <app-property-caracteristics [ameneties]="propertyStructure.ameneties" (event_updatePropertyCaracteristics)="eventHandler_updatePropertyCaracteristics($event)"></app-property-caracteristics>
            </div>
        </div>
        <div *ngIf="isOnDocumentsSubMenu" class="row">
            <div class="col-12">
                <app-property-documents [mainDocuments]="propertyStructure.mainDocuments" [certificateDocuments]="propertyStructure.certificateDocuments" [otherDocuments]="propertyStructure.otherDocuments" 
                (event_updateMainPropertyDocuments)="eventHandler_updateMainPropertyDocuments($event)" (event_updateCertificatePropertyDocuments)="eventHandler_updateCertificatePropertyDocuments($event)" (event_updateOtherPropertyDocuments)="eventHandler_updateOtherPropertyDocuments($event)"></app-property-documents>
            </div>
        </div>
        <div *ngIf="isOnImagesSubMenu" class="row">
            <div class="col-12">
                <!--<app-customer-properties [properties]="customerStructure.properties" (event_updateCustomerProperties)="eventHandler_updatePropertyImages($event)"></app-customer-properties>-->
            </div>
        </div>
        <div *ngIf="isOnRentingSubMenu" class="row">
            <div class="col-12">
                <!--<app-customer-properties [properties]="customerStructure.properties" (event_updateCustomerProperties)="eventHandler_updatePropertyRenting($event)"></app-customer-properties>-->
            </div>
        </div>
        <div *ngIf="isOnLocationSubMenu" class="row">
            <div class="col-12">
                <!--<app-customer-properties [properties]="customerStructure.properties" (event_updateCustomerProperties)="eventHandler_updatePropertyLocation($event)"></app-customer-properties>-->
            </div>
        </div>
        <div *ngIf="isOnObservationHistorySubMenu" class="row">
            <div class="col-12">
                <!--<app-customer-properties [properties]="customerStructure.properties" (event_updateCustomerProperties)="eventHandler_updatePropertyObservationHistory($event)"></app-customer-properties>-->
            </div>
        </div>
        <div *ngIf="isOnHistorySubMenu" class="row">
            <div class="col-12">
    
            </div>
        </div>
    </div>
</div>