<div class="d-flex h-100">
    <div class="submenu-container">
        <div class="h-100">
            <div class="submenu-grid">
                <div *ngFor="let submenu of propertySubmenus" class="submenu-grid-item cursor-pointer" (click)="onClick_selectSubMenu(submenu.enum_propertySubMenu)" [ngClass]="{'selected': submenu.enum_propertySubMenu == selectedPropertySubMenu}">
                    <div class="px-4 py-4">
                        <div class="fs-5 fw-bold mb-2">
                            {{submenu.label}}
                        </div>
                        <div class="text-muted fs-6">
                            {{submenu.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 w-100 overflow-y-scroll">

        <div class="row">
            <div class="col-auto fs-4">
                <div *ngIf="isOnDetailsSubMenu" class="mb-3 fw-bold">Identificação e Morada</div>
                <div *ngIf="isOnCaracteristicsSubMenu" class="mb-3 me-3 fw-bold">Características</div>
                <div *ngIf="isOnDocumentsSubMenu" class="mb-3 fw-bold">Documentos associados</div>
                <div *ngIf="isOnImagesSubMenu" class="mb-3 fw-bold">Imagens associadas</div>
                <div *ngIf="isOnRecommendedSubMenu" class="mb-3 fw-bold">Imóveis recomendados</div>
                <div *ngIf="isOnRentingSubMenu" class="mb-3 fw-bold">Registo de arrendamento</div>
                <div *ngIf="isOnActivityLogMenu" class="mb-3 fw-bold">Histórico do imóvel</div>
            </div>
            <div *ngIf="!isOnRentingSubMenu" class="col mb-5 d-flex justify-content-end gap-3">
                <button *ngIf="!isEditable && isOnDocumentsSubMenu" data-bs-toggle="modal" data-bs-target="#requestDocumentModal" class="btn btn-picaporte-secondary" (click)="onClick_requestDocument()">Requisitar documento</button>
                <button *ngIf="!isEditable" class="btn btn-picaporte-secondary" (click)="onClick_edit()">Editar</button>
                <button *ngIf="isEditable && propertyId != null && propertyId != 0" class="btn btn-danger me-3" (click)="onClick_cancel()">Cancelar</button>
                <button *ngIf="isEditable" class="btn btn-success" (click)="onClick_submit()">Submeter dados</button>
            </div>
        </div>

        <div *ngIf="isOnDetailsSubMenu" class="row">
            <div class="col-12 px-3 mb-3">
                <app-property-online *ngIf="isDataFetched" [isOnline]="propertyStructure.property.isOnline" [isEditable]="isEditable" (event_updatePropertyOnline)="eventHandler_updatePropertyOnline($event)"></app-property-online>
            </div>
            <div class="col-6 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-property-detail *ngIf="isDataFetched" [isEditable]="isEditable" [property]="propertyStructure.property" [propertyValidationObject]="propertyValidationObject" (event_updatePropertyDetails)="eventHandler_updatePropertyDetails($event)"></app-property-detail>
                </div>
            </div>
            <div class="col-6 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-address *ngIf="isDataFetched" [isEditable]="isEditable" [address]="propertyStructure.property.address" (event_updateAddress)="eventHandler_updatePropertyAddress($event)"></app-address>
                </div>
            </div>
        </div>
        <div *ngIf="isOnTasksSubMenu && isDataFetched" class="row">
            <app-task [recordId]="propertyStructure.property.id"></app-task>
        </div>
        <div *ngIf="isOnCaracteristicsSubMenu" class="row">
            <div class="col-12 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-property-caracteristics *ngIf="isDataFetched" [isEditable]="isEditable" [ameneties]="propertyStructure.ameneties" 
                    (event_updatePropertyCaracteristics)="eventHandler_updatePropertyCaracteristics($event)"></app-property-caracteristics>
                </div>
            </div>
        </div>
        <div *ngIf="isOnDocumentsSubMenu" class="row">
            <div class="col-12">
                <app-property-documents *ngIf="isDataFetched" [isEditable]="isEditable" [mainDocuments]="propertyStructure.mainDocuments" [certificateDocuments]="propertyStructure.certificateDocuments" [otherDocuments]="propertyStructure.otherDocuments" 
                (event_updateMainPropertyDocuments)="eventHandler_updateMainPropertyDocuments($event)" (event_updateCertificatePropertyDocuments)="eventHandler_updateCertificatePropertyDocuments($event)" (event_updateOtherPropertyDocuments)="eventHandler_updateOtherPropertyDocuments($event)"></app-property-documents>
            </div>
        </div>
        <div *ngIf="isOnImagesSubMenu" class="row">
            <div class="col-12">
                <app-property-images *ngIf="isDataFetched" [isEditable]="isEditable" [mainImage]="propertyStructure.property.mainImage" [otherImages]="propertyStructure.images" [videoUrl]="propertyStructure.property.videoUrl" 
                (event_updateMainImage)="eventHandler_updatePropertyMainImage($event)" (event_updateOtherImages)="eventHandler_updatePropertyOtherImages($event)" (event_updateVideoUrl)="eventHandler_updatePropertyVideoUrl($event)"></app-property-images>
            </div>
        </div>
        <div *ngIf="isOnRentingSubMenu" class="row">
            <div class="col-12">
                <app-property-renting [propertyId]="propertyStructure.property.id"></app-property-renting>
            </div>
        </div>
        <div *ngIf="isOnRecommendedSubMenu" class="row">
            <div class="col-12">
                <app-recommended-properties [isEditable]="isEditable" [recommendedProperties]="propertyStructure.recommendedProperties" (event_updateRecommendedProperties)="eventHandler_updateRecommendedProperties($event)"></app-recommended-properties>
            </div>
        </div>
        <div *ngIf="isOnActivityLogMenu && isDataFetched" class="row">
            <div class="col-12">
                <app-activity-log [entityReferenceId]="propertyStructure.entityReferenceId"></app-activity-log>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="requestDocumentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Requisitar documento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="cc" class="form-label fw-bold required">Tipo do documento</label>
              <div class="dropdown">
                <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyType" data-bs-toggle="dropdown" aria-expanded="false">
                  {{selectedDocumentTypeLabel}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="propertyType">
                  <li *ngFor="let documentType of documentTypes">
                    <a class="dropdown-item cursor-pointer" (click)="onClick_selectDocumentType(documentType, documentType.label)">{{documentType.label}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-end w-100">
            <div>
              <button type="button" class="btn  me-2" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onClick_confirmDocumentRequest()">Requisitar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>

<app-message></app-message>