<div class="d-flex h-100">
    <div class="submenu-container">
        <div class="fixed-submenu h-100">
            <div class="submenu-grid">
                <div *ngFor="let submenu of propertySubmenus" class="submenu-grid-item cursor-pointer" (click)="onClick_selectSubMenu(submenu.enum_propertySubMenu)" [ngClass]="{'selected': submenu.enum_propertySubMenu == selectedPropertySubMenu}">
                    <div class="px-4 py-4">
                        <div class="fs-5 fw-bold mb-2">
                            {{submenu.label}}
                        </div>
                        <div class="text-muted fs-6">
                            {{submenu.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 w-100 overflow-y-scroll">

        <div class="row">
            <div class="col-auto fs-4">
                <div *ngIf="isOnDetailsSubMenu" class="mb-3 fw-bold">Identificação e Morada</div>
                <div *ngIf="isOnCaracteristicsSubMenu" class="mb-3 me-3 fw-bold">Características</div>
                <div *ngIf="isOnDocumentsSubMenu" class="mb-3 fw-bold">Documentos associados</div>
                <div *ngIf="isOnImagesSubMenu" class="mb-3 fw-bold">Imagens associadas</div>
                <div *ngIf="isOnRentingSubMenu" class="mb-3 fw-bold">Registo de arrendamento</div>
                <div *ngIf="isOnActivityLogMenu" class="mb-3 fw-bold">Histórico do imóvel</div>
            </div>
            <div *ngIf="!isOnRentingSubMenu" class="col mb-5 d-flex justify-content-end">
                <button *ngIf="!isEditable" class="btn btn-picaporte-secondary" (click)="onClick_edit()">Editar</button>
                <button *ngIf="isEditable && propertyId != null && propertyId != 0" class="btn btn-danger me-3" (click)="onClick_cancel()">Cancelar</button>
                <button *ngIf="isEditable" class="btn btn-success" (click)="onClick_submit()">Submeter dados</button>
            </div>
        </div>

        <div *ngIf="isOnDetailsSubMenu" class="row">
            <div class="col-12 px-3 mb-3">
                <app-property-online *ngIf="isDataFetched" [isOnline]="propertyStructure.property.isOnline" [isEditable]="isEditable" (event_updatePropertyOnline)="eventHandler_updatePropertyOnline($event)"></app-property-online>
            </div>
            <div class="col-6 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-property-detail *ngIf="isDataFetched" [isEditable]="isEditable" [property]="propertyStructure.property" [propertyValidationObject]="propertyValidationObject" (event_updatePropertyDetails)="eventHandler_updatePropertyDetails($event)"></app-property-detail>
                </div>
            </div>
            <div class="col-6 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-address *ngIf="isDataFetched" [isEditable]="isEditable" [address]="propertyStructure.property.address" (event_updateAddress)="eventHandler_updatePropertyAddress($event)"></app-address>
                </div>
            </div>
        </div>
        <div *ngIf="isOnTasksSubMenu" class="row">
            
        </div>
        <div *ngIf="isOnCaracteristicsSubMenu" class="row">
            <div class="col-12 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-property-caracteristics *ngIf="isDataFetched" [isEditable]="isEditable" [ameneties]="propertyStructure.ameneties" 
                    (event_updatePropertyCaracteristics)="eventHandler_updatePropertyCaracteristics($event)"></app-property-caracteristics>
                </div>
            </div>
        </div>
        <div *ngIf="isOnDocumentsSubMenu" class="row">
            <div class="col-12">
                <app-property-documents *ngIf="isDataFetched" [isEditable]="isEditable" [mainDocuments]="propertyStructure.mainDocuments" [certificateDocuments]="propertyStructure.certificateDocuments" [otherDocuments]="propertyStructure.otherDocuments" 
                (event_updateMainPropertyDocuments)="eventHandler_updateMainPropertyDocuments($event)" (event_updateCertificatePropertyDocuments)="eventHandler_updateCertificatePropertyDocuments($event)" (event_updateOtherPropertyDocuments)="eventHandler_updateOtherPropertyDocuments($event)"></app-property-documents>
            </div>
        </div>
        <div *ngIf="isOnImagesSubMenu" class="row">
            <div class="col-12">
                <app-property-images *ngIf="isDataFetched" [isEditable]="isEditable" [mainImage]="propertyStructure.mainImage" [otherImages]="propertyStructure.images" 
                (event_updateMainImage)="eventHandler_updatePropertyMainImage($event)" (event_updateOtherImages)="eventHandler_updatePropertyOtherImages($event)"></app-property-images>
            </div>
        </div>
        <div *ngIf="isOnRentingSubMenu" class="row">
            <div class="col-12">
                <app-property-renting [propertyId]="propertyId"></app-property-renting>
            </div>
        </div>
        <div *ngIf="isOnLocationSubMenu" class="row">
            <div class="col-12">
                <!--<app-customer-properties [properties]="customerStructure.properties" (event_updateCustomerProperties)="eventHandler_updatePropertyLocation($event)"></app-customer-properties>-->
            </div>
        </div>
        <div *ngIf="isOnObservationHistorySubMenu" class="row">
            <div class="col-12">
                <!--<app-customer-properties [properties]="customerStructure.properties" (event_updateCustomerProperties)="eventHandler_updatePropertyObservationHistory($event)"></app-customer-properties>-->
            </div>
        </div>
        <div *ngIf="isOnActivityLogMenu && isDataFetched" class="row">
            <div class="col-12">
                <app-activity-log [entityReferenceId]="propertyStructure.entityReferenceId"></app-activity-log>
            </div>
        </div>
    </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>

<app-message></app-message>