<div class="px-5 py-3 w-100">
  <div class="text-center mb-4">
    <img src="/assets/images/picaporte_logo.png" alt="" style="height: 100px;">
  </div>
  <div class="col-12 mb-3">
    <div *ngIf="isKpiDataFetched else kpiElseBlock" class="row">
      <div class="col">
        <app-dashboard-kpi [dashboardKpiStructure]="dashboardKpis[0]"
          [isSelected]="!userSearchAndFilterStructure.hasAdminFilter" [isPlaceholder]="false"
          (dashboardKpiClicked)="eventHandler_dashboardKpiClicked(0)">
        </app-dashboard-kpi>
      </div>
      <div class="col">
        <app-dashboard-kpi [dashboardKpiStructure]="dashboardKpis[1]"
          [isSelected]="userSearchAndFilterStructure.hasAdminFilter && !userSearchAndFilterStructure.isAdmin"
          [isPlaceholder]="false" (dashboardKpiClicked)="eventHandler_dashboardKpiClicked(1)">
        </app-dashboard-kpi>
      </div>
      <div class="col">
        <app-dashboard-kpi [dashboardKpiStructure]="dashboardKpis[2]"
          [isSelected]="userSearchAndFilterStructure.hasAdminFilter && userSearchAndFilterStructure.isAdmin"
          [isPlaceholder]="false" (dashboardKpiClicked)="eventHandler_dashboardKpiClicked(2)">
        </app-dashboard-kpi>
      </div>
    </div>
    <ng-template #kpiElseBlock>
      <div class="row">
        <div *ngFor="let number of [0,1,2]" class="col-4 p-2">
          <app-dashboard-kpi [dashboardKpiStructure]="placeholderDashboardKpi" [isSelected]="false"
            [isPlaceholder]="true" (dashboardKpiClicked)="eventHandler_dashboardKpiClicked($event)">
          </app-dashboard-kpi>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-12">
    <app-search-and-filter-bar [searchText]="userSearchAndFilterStructure.searchAndFilterStructure.searchText"
      [buttonLabel]="'Novo utilizador'" [showButton]="true" [placeholder]="'Pesquise por um utilizador'"
      [hasFilters]="false" [hasSelectedFilter]="false" (searchTextChanged)="eventHandler_searchTextChanged($event)"
      (buttonClicked)="eventHandler_buttonClicked()">
    </app-search-and-filter-bar>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Atualizado em</th>
          <th scope="col">Atualizado por</th>
        </tr>
      </thead>
      <tbody *ngIf="isDataFetched; else elseBlock">
        <tr *ngFor="let user of userDashboardStructureArray" class="table-row">
          <td scope="row"><span [routerLink]="['/Utilizador/', user.id]"
              class="col cursor-pointer color-primary fw-bold">{{user.name}}</span></td>
          <td><span class="col">{{user.email}}</span></td>
          <td><span class="col">{{(user.isAdmin) ? "Administrador": "Cliente"}}</span></td>
          <td><span class="col"><app-date-format [date]="user.lastModifiedOn"></app-date-format></span></td>
          <td><span class="col">{{user.lastModifiedBy}}</span></td>
        </tr>
      </tbody>
      <ng-template #elseBlock>
        <tbody>
          <tr *ngFor="let number of [0,1,2,3,4,5]" class="placeholder-glow table-row">
            <td scope="row"><span class="placeholder col-4"></span></td>
            <td><span class="placeholder col-2"></span></td>
            <td><span class="placeholder col-2"></span></td>
            <td><span class="placeholder col-2"></span></td>
            <td><span class="placeholder col-2"></span></td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
  <div *ngIf="userDashboardStructureArray.length == 0 && isDataFetched" class="col-12">
    <div class="p-4 text-center rounded bg-white">
      Não foram encontrados utilizadores
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <button class="btn btn-picaporte-primary" data-bs-toggle="modal" data-bs-target="#exportModal" (click)="onClick_export()">Exportar emails</button>
    </div>
    <div *ngIf="isDataFetched" class="col">
      <nav>
        <ul class="pagination justify-content-end">
          <li *ngIf="hasPrevious" class="page-item" (click)="previous()">
            <a class="page-link color-primary">Anterior</a>
          </li>
          <li *ngIf="hasNext" class="page-item" (click)="next()">
            <a class="page-link color-primary">Seguinte</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="exportModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Lista de utilizadores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div id="exportDiv" style="word-break: break-all;">
            {{exportStructure.export}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between w-100">
          <div>
            <button type="submit" class="btn btn-success" (click)="onClick_copy()">Copiar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-message></app-message>