<div class="d-flex h-100">
    <div class="submenu-container">
        <div class="fixed-submenu h-100">
            <div class="submenu-grid">
                <div *ngFor="let submenu of customerSubmenus" class="submenu-grid-item cursor-pointer" (click)="onClick_selectSubMenu(submenu.enum_customerSubMenu)" [ngClass]="{'selected': submenu.enum_customerSubMenu == selectedCustomerSubMenu}">
                    <div class="px-4 py-4">
                        <div class="fs-5 fw-bold mb-2">
                            {{submenu.label}}
                        </div>
                        <div class="text-muted fs-6">
                            {{submenu.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 w-100">

        <div class="row d-flex align-items-center mb-3">
            <div class="col-auto fs-4 fw-bold">
                <div *ngIf="isOnDetailsSubMenu" class="mb-3 fw-bold">Identificação e Morada</div>
                <div *ngIf="isOnPreferencesSubMenu" class="mb-3 fw-bold">Preferências</div>
                <div *ngIf="isOnPropertiesSubMenu" class="mb-3 fw-bold">Imóveis associados</div>
                <div *ngIf="isOnActivityLogMenu" class="mb-3 fw-bold">Histórico do cliente</div>
            </div>
            <div class="col d-flex justify-content-end">
                <button *ngIf="!isEditable" class="btn btn-picaporte-secondary" (click)="onClick_edit()">Editar</button>
                <button *ngIf="isEditable && customerId != 0 && customerId != null" class="btn btn-danger me-3" (click)="onClick_cancel()">Cancelar</button>
                <button *ngIf="isEditable" class="btn btn-success" (click)="onClick_submit()">Submeter dados</button>
            </div>
        </div>

        <div *ngIf="isOnDetailsSubMenu" class="row">
            <div class="col-6 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-customer-detail *ngIf="isDataFetched" [customer]="customerStructure.customer" [isEditable]="isEditable" [customerValidationObject]="customerValidationObject" (event_updateCustomerDetails)="eventHandler_updateCustomerDetails($event)"></app-customer-detail>
                </div>
            </div>
            <div class="col-6 px-3">
                <div class="bg-white p-4 rounded h-100">
                    <app-address *ngIf="isDataFetched" [address]="customerStructure.customer.address" [isEditable]="isEditable" [addressValidationObject]="addressValidationObject" (event_updateAddress)="eventHandler_updateCustomerAddress($event)"></app-address>
                </div>
            </div>
        </div>
        <div *ngIf="isOnTasksSubMenu" class="row">
            
        </div>
        <div *ngIf="isOnPreferencesSubMenu" class="row">
            <div class="col-12">
                <app-preferences *ngIf="isDataFetched" [preferences]="customerStructure.preferences" [isEditable]="isEditable" (event_updatePreferences)="eventHandler_updateCustomerPreferences($event)"></app-preferences>
            </div>
        </div>
        <div *ngIf="isOnPropertiesSubMenu" class="row">
            <div class="col-12">
                <app-customer-properties [properties]="customerStructure.properties"></app-customer-properties>
            </div>
        </div>
        <div *ngIf="isOnActivityLogMenu && isDataFetched" class="row">
            <div class="col-12">
                <app-activity-log [entityReferenceId]="customerStructure.entityReferenceId"></app-activity-log>
            </div>
        </div>
    </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>

<app-message></app-message>