<div class="p-5 row">
  <div class="col-12 mb-3">
    <div *ngIf="isKpiDataFetched else kpiElseBlock" class="row">
      <div *ngFor="let dashboardKpi of dashboardKpis" class="col-2 p-2">
        <app-dashboard-kpi 
          [dashboardKpiStructure]="dashboardKpi" 
          [isSelected]="entityReferenceSearchAndFilterStructure.entityTypeId == dashboardKpi.id"
          [isPlaceholder]="false"
          (dashboardKpiClicked)="eventHandler_dashboardKpiClicked($event)"
        >
        </app-dashboard-kpi>
      </div>
    </div>
    <ng-template #kpiElseBlock>
      <div class="row">
        <div *ngFor="let number of [0,1,2]" class="col-2 p-2">
          <app-dashboard-kpi 
            [dashboardKpiStructure]="placeholderDashboardKpi" 
            [isSelected]="false"
            [isPlaceholder]="true"
            (dashboardKpiClicked)="eventHandler_dashboardKpiClicked($event)"
          >
          </app-dashboard-kpi>
        </div>
      </div>
    </ng-template>
  </div>
  <app-search-and-filter-bar 
    [searchText]="entityReferenceSearchAndFilterStructure.searchAndFilterStructure.searchText"
    [buttonLabel]="''"
    [showButton]="false"
    [placeholder]="'Pesquise por um cliente, imóvel ou utilizador'"
    [hasFilters]="false"
    [hasSelectedFilter]="(entityReferenceSearchAndFilterStructure.entityTypeId!= 0 && entityReferenceSearchAndFilterStructure.entityTypeId != null)"
    (searchTextChanged)="eventHandler_searchTextChanged($event)"
    (buttonClicked)="eventHandler_buttonClicked()"
  >
  </app-search-and-filter-bar>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome / Referência</th>
          <th scope="col">Tipo</th>
          <th scope="col">Atualizado em</th>
          <th scope="col">Atualizado por</th>
        </tr>
      </thead>
      <tbody *ngIf="isDataFetched; else elseBlock">
          <tr *ngFor="let item of entityReferenceList" class="table-row">
              <td scope="row">
                <span *ngIf="item.type == 'Cliente'" [routerLink]="['/Cliente/', item.recordId]" class="col cursor-pointer color-primary fw-bold">{{item.name}}</span>
                <span *ngIf="item.type == 'Imóvel'" [routerLink]="['/Imovel/', item.recordId]" class="col cursor-pointer color-primary fw-bold">{{item.name}}</span>
              </td>
              <td><span class="col">{{item.type}}</span></td>
              <td><span class="col">{{item.lastModifiedOn}}</span></td>
              <td><span class="col">{{item.lastModifiedBy}}</span></td>
          </tr>
      </tbody>
      <ng-template #elseBlock>
        <tbody>
          <tr *ngFor="let number of [0,1,2]" class="placeholder-glow table-row">
              <td scope="row"><span class="placeholder col-4"></span></td>
              <td><span class="placeholder col-2"></span></td>
              <td><span class="placeholder col-2"></span></td>
              <td><span class="placeholder col-2"></span></td>
          </tr>
        </tbody>
      </ng-template>
    </table>
    </div>
  <div *ngIf="entityReferenceList.length == 0 && isDataFetched" class="w-100 p-4 text-center rounded bg-white">
    Não foram encontrados dados
  </div>
  <div *ngIf="isDataFetched">
      <nav>
          <ul class="pagination justify-content-end">
            <li *ngIf="hasPrevious" class="page-item" (click)="previous()">
              <a class="page-link color-primary">Anterior</a>
            </li>
            <li *ngIf="hasNext" class="page-item" (click)="next()">
              <a class="page-link color-primary">Seguinte</a>
            </li>
          </ul>
        </nav>
  </div>
</div>
<app-message></app-message>