<div class="search-and-filter" [ngClass]="{'open': showFilters}">
    <div class="d-flex">
        <div class="col d-flex align-items-center p-0">
            <button *ngIf="hasFilters" type="button" class="bg-white filters d-flex align-items-center gap-3 p-3" (click)="onClick_openCloseFilters()" [attr.aria-expanded]="showFilters">
                <i class="fa-solid fa-filter" [ngClass]="{'text-success': hasSelectedFilter}"></i>
                <div>Filtros</div>
            </button>
            <div class="input-group h-100">
                <input type="search" class="form-control" [ngClass]="{'filter-hidden': !hasFilters, 'button-hidden': !showButton}" [attr.placeholder]="placeholder" aria-label="Pesquisar" [(ngModel)]="searchText" (input)="onChange()">
            </div>
        </div>
        <div *ngIf="showButton" class="col-auto d-flex justify-content-end p-0">
            <button type="button" class="btn btn-picaporte-secondary h-100" (click)="onClick_button()">{{buttonLabel}}</button>
        </div>
    </div>
    <div *ngIf="showFilters" class="d-flex filters-placeholder p-3">
        <div class="col-12">
            <ng-content></ng-content>
        </div>
    </div>
</div>
