<form>
  <div class="row">
    <div class="col-6 mb-3">
      <label for="reference" class="form-label fw-bold required">Referência</label>
      <input *ngIf="isEditable; else referenceRead" type="text" class="form-control" id="reference" name="reference"
        [ngClass]="{'invalid-input' : !propertyValidationObject.isReferenceValid.isValid}"
        [(ngModel)]="property.reference" (change)="triggerEvent_updatePropertyDetails()" (focus)="onFocus_reference()">
      <div *ngIf="!propertyValidationObject.isReferenceValid.isValid" class="invalid-message">
        {{propertyValidationObject.isReferenceValid.validationMessage}}</div>
      <ng-template #referenceRead>
        <div *ngIf="property.reference != null && property.reference != ''; else referenceNull">
          {{property.reference}}
        </div>
        <ng-template #referenceNull>
          <div>-</div>
        </ng-template>
      </ng-template>
    </div>
    <div class="col-6 mb-3">
      <label for="price" class="form-label fw-bold required">Preço</label>
      <input *ngIf="isEditable; else priceRead" type="text" class="form-control" id="price" name="price"
        [ngClass]="{'invalid-input' : !propertyValidationObject.isPriceValid.isValid}" [(ngModel)]="property.price"
        (change)="triggerEvent_updatePropertyDetails()" (focus)="onFocus_price()">
      <div *ngIf="!propertyValidationObject.isPriceValid.isValid" class="invalid-message">
        {{propertyValidationObject.isPriceValid.validationMessage}}</div>
      <ng-template #priceRead>
        <div *ngIf="property.price != null && property.price != 0; else priceNull">
          {{property.price}}
        </div>
        <ng-template #priceNull>
          <div>-</div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <label for="prompt" class="form-label fw-bold">Prompt</label>
      <textarea *ngIf="isEditable; else promptRead" type="text" class="form-control" id="prompt" rows="2" name="prompt"
        [(ngModel)]="property.prompt" (change)="triggerEvent_updatePropertyDetails()">
        </textarea>
      <ng-template #promptRead>
        <div *ngIf="property.prompt != null && property.prompt != ''; else promptNull">
          {{property.prompt}}
        </div>
        <ng-template #promptNull>
          <div>-</div>
        </ng-template>
      </ng-template>
    </div>
    <div class="col-12 mb-3">
      <label for="description" class="form-label fw-bold">Descrição</label>
      <textarea *ngIf="isEditable; else descriptionRead" type="text" class="form-control" id="description" rows="3"
        name="description" [(ngModel)]="property.description" (change)="triggerEvent_updatePropertyDetails()">
        </textarea>
      <ng-template #descriptionRead>
        <div *ngIf="property.description != null && property.description != ''; else descriptionNull">
          {{property.description}}
        </div>
        <ng-template #descriptionNull>
          <div>-</div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mb-3">
      <label for="bathrooms" class="form-label fw-bold">Nº casa de banho</label>
      <input *ngIf="isEditable; else bathroomsRead" type="number" class="form-control" id="bathrooms" name="phoneNumber"
        [(ngModel)]="property.bathrooms" (change)="triggerEvent_updatePropertyDetails()">
      <ng-template #bathroomsRead>
        <div *ngIf="property.bathrooms != null && property.bathrooms != 0; else bathroomsNull">
          {{property.bathrooms}}
        </div>
        <ng-template #bathroomsNull>
          <div>-</div>
        </ng-template>
      </ng-template>
    </div>
    <div class="col-6 mb-3">
      <label for="year" class="form-label fw-bold">Ano de construção</label>
      <input *ngIf="isEditable; else yearRead" type="email" class="form-control" id="year" name="year"
        [(ngModel)]="property.constructionYear" (change)="triggerEvent_updatePropertyDetails()">
      <ng-template #yearRead>
        <div *ngIf="property.constructionYear != null && property.constructionYear != 0; else yearNull">
          {{property.constructionYear}}
        </div>
        <ng-template #yearNull>
          <div>-</div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mb-3">
      <label for="totalarea" class="form-label fw-bold">Área total</label>
      <input *ngIf="isEditable; else totalAreaRead" type="text" class="form-control" id="totalarea" name="totalarea"
        [(ngModel)]="property.totalConstructionArea" (change)="triggerEvent_updatePropertyDetails()">
      <ng-template #totalAreaRead>
        <div *ngIf="property.totalConstructionArea!= null && property.totalConstructionArea!= 0; else totalAreaNull">
          {{property.totalConstructionArea}}
        </div>
        <ng-template #totalAreaNull>
          <div>-</div>
        </ng-template>
      </ng-template>
    </div>
    <div class="col-6 mb-3">
      <label for="livingarea" class="form-label fw-bold">Área de construção</label>
      <input *ngIf="isEditable; else livingAreaRead" type="text" class="form-control" id="livingarea" name="livingarea"
        [(ngModel)]="property.livingArea" (change)="triggerEvent_updatePropertyDetails()">
      <ng-template #livingAreaRead>
        <div *ngIf="property.livingArea != null && property.livingArea != 0; else livingAreaNull">
          {{property.livingArea}}
        </div>
        <ng-template #livingAreaNull>
          <div>-</div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <label for="nif" class="form-label fw-bold">Proprietário</label>
      <div *ngIf="isEditable; else clientRead" class="dropdown">
        <button class="w-100 btn btn-dark dropdown-toggle" type="button" id="propertyType" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{selectedCustomerName}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyType">
          <li *ngFor="let customer of customers">
            <a class="dropdown-item"
              (click)="onClick_selectCustomer(customer, customer.firstName)">{{customer.firstName}}</a>
          </li>
        </ul>
      </div>
      <ng-template #clientRead>
        <div>{{selectedCustomerName}}</div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="isEditable; else propertyStatusRead" class="row">
    <div class="col-6 mb-3">
      <label for="nif" class="form-label fw-bold">Estado de venda do imóvel</label>
      <div class="dropdown">
        <button class="w-100 btn btn-warning dropdown-toggle" type="button" id="propertyStatus"
          data-bs-toggle="dropdown" aria-expanded="false">
          <a *ngIf="property.propertyStatus?.label != null && property.propertyStatus?.label != ''; else propertyStatusNullEdit">{{property.propertyStatus.label}}</a>
          <ng-template #propertyStatusNullEdit>
            <a>Nenhuma opção seleccionada</a>
          </ng-template>
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyStatus">
          <li *ngFor="let propertyStatus of staticPropertyStatuses">
            <a class="dropdown-item" (click)="onClick_selectPropertyStatus(propertyStatus)">{{propertyStatus.label}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 mb-3">
      <label for="location" class="form-label fw-bold">Localização</label>
      <div class="dropdown">
        <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyLocationType"
          data-bs-toggle="dropdown" aria-expanded="false">
          <a *ngIf="property.propertyStatus?.label != null && property.propertyLocationType?.label != ''; else propertyLocationTypeNullEdit">{{property.propertyLocationType.label}}</a>
          <ng-template #propertyLocationTypeNullEdit>
            <a>Nenhuma opção seleccionada</a>
          </ng-template>
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyLocationType">
          <li *ngFor="let propertyLocationType of staticPropertyLocationTypes">
            <a class="dropdown-item" (click)="onClick_selectPropertyLocationType(propertyLocationType)">{{propertyLocationType.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #propertyStatusRead>
    <div class="row">
      <div class="mb-2 col-6">
        <label class="fw-bold">Estado de venda</label>
        <div
          *ngIf="property.propertyStatus?.label != null && property.propertyStatus?.label != ''; else propertyStatusNull">
          {{property.propertyStatus.label}}</div>
        <ng-template #propertyStatusNull>
          <div>-</div>
        </ng-template>
      </div>
      <div class="mb-2 col-6">
        <label class="fw-bold">Localização</label>
        <div
          *ngIf="property.propertyLocationType?.label != null && property.propertyLocationType?.label != ''; else propertyLocationTypeNull">
          {{property.propertyLocationType.label}}</div>
        <ng-template #propertyLocationTypeNull>
          <div>-</div>
        </ng-template>
      </div>
    </div>
  </ng-template>
  <div *ngIf="isEditable; else propertyTypeRead" class="row">
    <div class="col-6 mb-3">
      <label for="cc" class="form-label fw-bold">Tipo do imóvel</label>
      <div class="dropdown">
        <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyType"
          data-bs-toggle="dropdown" aria-expanded="false">
          <a
            *ngIf="property.propertyType?.label != null && property.propertyType?.label != ''; else propertyTypesNullEdit">{{property.propertyType?.label}}</a>
          <ng-template #propertyTypesNullEdit>
            <a>Nenhuma opção seleccionada</a>
          </ng-template>
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyType">
          <li *ngFor="let propertyType of staticPropertyTypes">
            <a class="dropdown-item" (click)="onClick_selectPropertyType(propertyType)">{{propertyType.label}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 mb-3">
      <label for="nif" class="form-label fw-bold">Eficiência energética do imóvel</label>
      <div class="dropdown">
        <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="energyCertificate"
          data-bs-toggle="dropdown" aria-expanded="false">
          <a
            *ngIf="property.energyCertificate?.label != null && property.energyCertificate?.label != ''; else energyCertificateNullEdit">{{property.energyCertificate?.label}}</a>
          <ng-template #energyCertificateNullEdit>
            <a>Nenhuma opção seleccionada</a>
          </ng-template>
        </button>
        <ul class="dropdown-menu" aria-labelledby="energyCertificate">
          <li *ngFor="let energyCertificate of staticEnergyCertificates">
            <a class="dropdown-item"
              (click)="onClick_selectEnergyCertificate(energyCertificate)">{{energyCertificate.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #propertyTypeRead>
    <div class="row">
      <div class="mb-2 col-6">
        <label class="fw-bold">Tipo do imóvel</label>
        <div *ngIf="property.propertyType?.label != null && property.propertyType?.label != ''; else propertyTypeNull">
          {{property.propertyType?.label}}</div>
        <ng-template #propertyTypeNull>
          <div>-</div>
        </ng-template>
      </div>
      <div class="mb-2 col-6">
        <label class="fw-bold">Eficiência energética do imóvel</label>
        <div *ngIf="property.energyCertificate?.label != null; else energyCertificateNull">
          {{property.energyCertificate?.label}}</div>
        <ng-template #energyCertificateNull>
          <div>-</div>
        </ng-template>
      </div>
    </div>
  </ng-template>
  <div *ngIf="isEditable; else propertyConditionStatusTypologyRead" class="row">
    <div class="col-6 mb-3">
      <label for="nif" class="form-label fw-bold">Estado do imóvel</label>
      <div class="dropdown">
        <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyConditionStatus"
          data-bs-toggle="dropdown" aria-expanded="false">
          <a
            *ngIf="property.propertyConditionStatus?.label != null && property.propertyConditionStatus?.label != ''; else propertyConditionStatusNullEdit">{{property.propertyConditionStatus?.label}}</a>
          <ng-template #propertyConditionStatusNullEdit>
            <a>Nenhuma opção seleccionada</a>
          </ng-template>
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyConditionStatus">
          <li *ngFor="let propertyConditionStatus of staticPropertyConditionStatuses">
            <a class="dropdown-item"
              (click)="onClick_selectPropertyConditionStatus(propertyConditionStatus)">{{propertyConditionStatus.label}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 mb-3">
      <label for="nif" class="form-label fw-bold">Tipologia do imóvel</label>
      <div class="dropdown">
        <button class="w-100 btn btn-secondary dropdown-toggle" type="button" id="propertyTypology"
          data-bs-toggle="dropdown" aria-expanded="false">
          <a
            *ngIf="property.propertyTypology?.label != null && property.propertyTypology?.label != ''; else propertyTypologyNullEdit">{{property.propertyTypology?.label}}</a>
          <ng-template #propertyTypologyNullEdit>
            <a>Nenhuma opção seleccionada</a>
          </ng-template>
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyTypology">
          <li *ngFor="let propertyTypology of staticPropertyTypologies">
            <a class="dropdown-item"
              (click)="onClick_selectPropertyTypology(propertyTypology)">{{propertyTypology.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #propertyConditionStatusTypologyRead>
    <div class="row">
      <div class="mb-2 col-6">
        <label class="fw-bold">Estado do imóvel</label>
        <div
          *ngIf="property.propertyConditionStatus?.label != null && property.propertyConditionStatus?.label != ''; else propertyConditionStatusNull">
          {{property.propertyConditionStatus?.label}}</div>
        <ng-template #propertyConditionStatusNull>
          <div>-</div>
        </ng-template>
      </div>
      <div class="mb-2 col-6">
        <label class="fw-bold">Tipologia do imóvel</label>
        <div
          *ngIf="property.propertyTypology?.label != null && property.propertyTypology?.label != ''; else propertyTypologyNull">
          {{property.propertyTypology?.label}}</div>
        <ng-template #propertyTypologyNull>
          <div>-</div>
        </ng-template>
      </div>
    </div>
  </ng-template>
</form>
<app-message></app-message>