<div class="d-flex flex-column align-items-center justify-content-center gap-3">
    <div *ngIf="isOpen">
        <div class="text-white" *ngIf="auth.user$ | async as user">{{ user.name }}</div>
    </div>
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button class="btn btn-info" (click)="auth.logout({ returnTo: document.location.origin })">
            <div class="d-flex align-items-center gap-3">
                <i class="fa-solid fa-user"></i>
                <div *ngIf="isOpen">Log out</div>
            </div>
        </button>
    </ng-container>
    
    <ng-template #loggedOut>
        <button class="btn btn-info" (click)="auth.loginWithRedirect({
            redirect_uri: 'redirectUri'
          })">
            <div class="d-flex align-items-center gap-3">
                <i class="fa-solid fa-user"></i>
                <div *ngIf="isOpen">Log in</div>
            </div>
        </button>
    </ng-template>
</div>