<div class="text-white d-flex flex-column justify-content-between h-100">
    <div>
        <div routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true} [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa fa-gauge"></i>
            <div *ngIf="isOpen" class="pb-1">Dashboard</div>
        </div>
        <div routerLink="/Imoveis" routerLinkActive="active-link" [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa fa-house"></i>
            <div *ngIf="isOpen" class="me-5">Imóveis</div>
        </div>
        <div routerLink="/Clientes" routerLinkActive="active-link" [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa-sharp fa-solid fa-users"></i>
            <div *ngIf="isOpen" class="me-5">Clientes</div>
        </div>
        <div routerLink="/Utilizadores" routerLinkActive="active-link" [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa-solid fa-users-between-lines"></i>
            <div *ngIf="isOpen" class="me-5">Utilizadores</div>
        </div>
        <div routerLink="/Tarefas" routerLinkActive="active-link" [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa fa-list-check"></i>
            <div *ngIf="isOpen" class="me-5">Tarefas</div>
        </div>
        <div routerLink="/Noticias" routerLinkActive="active-link" [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa fa-newspaper"></i>
            <div *ngIf="isOpen" class="me-5">Notícias</div>
        </div>
        <div routerLink="/ToDos" routerLinkActive="active-link" [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa fa-clipboard-list"></i>
            <div *ngIf="isOpen" class="me-5">To Do</div>
        </div>
        <div routerLink="/Links" routerLinkActive="active-link" [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa fa-link"></i>
            <div *ngIf="isOpen" class="me-5">Links</div>
        </div>
        <div routerLink="/GestaoDeDados" routerLinkActive="active-link" [ngClass]="!isOpen ? 'justify-content-center' : ''" class="d-flex align-items-center p-3 gap-3 fs-5 fw-bold sidenav-item">
            <i class="fa fa-database"></i>
            <div *ngIf="isOpen" class="me-5">Gestão de dados</div>
        </div>
    </div>
    <div class="w-100 p-3 text-end bottom-0 open-close-arrow cursor-pointer" (click)="onClick_toggle()">
        <div *ngIf="isOpen" class="mb-3 text-center">
            <img src="/assets/images/logo20anos.png" alt="picaporte 20 anos" style="width: 150px;">
        </div>
        <div class="mb-3">
            <app-auth0 [isOpen]="isOpen"></app-auth0>
        </div>
        <div *ngIf="isOpen; else closed">
            <i class="fa-solid fa-chevrons-left"></i>
        </div>
        <ng-template #closed>
            <i class="fa-solid fa-chevrons-right"></i>
        </ng-template>
    </div>
</div>
