<div>
    <div routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true} class="d-flex align-items-center p-3 fs-5 fw-bold opacity-75 sidenav-item">
        <i class="fa fa-gauge me-3"></i>
        <div>Dashboard</div>
    </div>
    <div routerLink="/Imoveis" routerLinkActive="active-link" class="d-flex align-items-center p-3 fs-5 fw-bold opacity-75 sidenav-item">
        <i class="fa fa-house me-3"></i>
        <div>Imóveis</div>
    </div>
    <div routerLink="/Clientes" routerLinkActive="active-link" class="d-flex align-items-center p-3 fs-5 fw-bold opacity-75 sidenav-item">
        <i class="fa fa-users me-3"></i>
        <div>Clientes</div>
    </div>
    <div routerLink="/Tarefas" routerLinkActive="active-link" class="d-flex align-items-center p-3 fs-5 fw-bold opacity-75 sidenav-item">
        <i class="fa fa-list-check me-3"></i>
        <div>Tarefas</div>
    </div>
    <div routerLink="/Noticias" routerLinkActive="active-link" class="d-flex align-items-center p-3 fs-5 fw-bold opacity-75 sidenav-item">
        <i class="fa fa-newspaper me-3"></i>
        <div>Notícias</div>
    </div>
    <div routerLink="/ToDos" routerLinkActive="active-link" class="d-flex align-items-center p-3 fs-5 fw-bold opacity-75 sidenav-item">
        <i class="fa fa-clipboard-list me-3"></i>
        <div>To Do</div>
    </div>
    <div routerLink="/Estatisticas" routerLinkActive="active-link" class="d-flex align-items-center p-3 fs-5 fw-bold opacity-75 sidenav-item">
        <i class="fa fa-chart-line me-3"></i>
        <div>Estatísticas</div>
    </div>
    <div routerLink="/GestaoDeDados" routerLinkActive="active-link" class="d-flex align-items-center p-3 fs-5 fw-bold opacity-75 sidenav-item">
        <i class="fa fa-database me-3"></i>
        <div>Gestão de dados</div>
    </div>
</div>
