.static-data-menu-item {
    background-color: white;
}

.static-data-menu-item.selected {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-weight: bold;
}

.static-data-loader {
    height: 500px;
}

.static-data-disabled {
    background-color: #ba5959 !important;
}

.hidden-static-data {
    border: 0px;
}

.static-data-icon {
    box-shadow: 1px 2px 5px 0px lightgrey;
}

.static-data-icon:hover {
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
}

.static-data-icon.selected {
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
}