.static-data-menu-item {
    background-color: white;
}

.static-data-menu-item.selected {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-weight: bold;
}

.static-data-loader {
    height: 500px;
}

.static-data-disabled {
    background-color: #ba5959 !important;
}